/* You should edit the content below to fit your website */

p, h2, footer, nav, .navlink {
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: #f5eec2;
	text-align: center;}
h1, .other {
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: #D95959;
	text-align: center;
}
nav {
	background-color: #395D73;
	padding: 10px;
	margin: 10px;}
li {
	display: inline;
	padding: 10px;
}
body {
	width: 960px;
	margin: 0 auto;
	background-color:#95B3BF;
}
main {
	background-color:#95B3BF;
	padding: 10px;
	margin: 10px;
}
article {
	background-color:#95B3BF;
	padding: 20px;
	display: flex;
	align-items: center;
	clear: both;
}
div:nth-of-type(1) {
	width: 48%;
	float: left;
}
div:nth-of-type(2) {
	width: 48%;
	float: right;
	clear: right;
}
.edu {
	padding: 15px;
}
.box {
	display: flex;
	float: left;
	height: 300px;
	border-radius: 5px;
	padding: 2px;
	clear: both;
}
.box2 {
	display: flex;
	float: right;
	position: relative;
	margin: 10px 10px 10px 10px;
	height: 440px;
	left: 470px;
	width: 48%;
	clear: both;
}
.box3 {
	display: flex;
	position: relative;
	top: 10px;
	right: 480px;
	flex-wrap: wrap;
	clear: both;
}
.job {
	padding: 15px;
}
.jobcol {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex: 300px;
	text-align: left;
	color: #f5eec2;
	font-family: Georgia, 'Times New Roman', Times, serif;
	clear: both;
}
.inv {
	padding: 15px;
}
.bh {
	display: flex;
	flex-wrap: wrap;
	color: #f5eec2;
	font-family: Georgia, 'Times New Roman', Times, serif;
	clear: both;
}
.lwt {
	display: flex;
	flex-wrap: wrap;
	color: #f5eec2;
	font-family: Georgia, 'Times New Roman', Times, serif;
	clear: both;
}
.h3 {
	text-align: left;
	color: #f5eec2;
	font-family: Georgia, 'Times New Roman', Times, serif;
}
#content {
	overflow: auto;
	height: 100%;}
footer {
	background-color: #395D73;
	padding: 10px;
	margin: 10px;
}